# __Subsetting a Julia DataFrame by Date__

<br>

Finance 5330: Financial Econometrics <br>
Tyler J. Brough <br>
Last Update: March 26, 2020 <br>
<br>

In [2]:
using CSV
using Dates
using DataFrames

In [3]:
## Read in the HO-Futures.csv file and materialize it as a DataFrame
df = CSV.File("data/HO-Futures.csv") |> DataFrame!;

In [4]:
first(df, 5)

5×2 DataFrame
│ Row │ Date       │ HO-Futures │
│     │ Date       │ Float64    │
├─────┼────────────┼────────────┤
│ 1   │ 2020-03-03 │ 1.533      │
│ 2   │ 2020-03-02 │ 1.529      │
│ 3   │ 2020-02-28 │ 1.491      │
│ 4   │ 2020-02-27 │ 1.489      │
│ 5   │ 2020-02-26 │ 1.499      │

In [5]:
last(df, 5)

5×2 DataFrame
│ Row │ Date       │ HO-Futures │
│     │ Date       │ Float64    │
├─────┼────────────┼────────────┤
│ 1   │ 1980-01-08 │ 0.786      │
│ 2   │ 1980-01-07 │ 0.828      │
│ 3   │ 1980-01-04 │ 0.85       │
│ 4   │ 1980-01-03 │ 0.827      │
│ 5   │ 1980-01-02 │ 0.821      │

In [6]:
## Let's say I want to get all dates after December 31, 2019
df2 = df[df.Date .> Date(2019,12,31), :];

In [7]:
first(df2, 3)

3×2 DataFrame
│ Row │ Date       │ HO-Futures │
│     │ Date       │ Float64    │
├─────┼────────────┼────────────┤
│ 1   │ 2020-03-03 │ 1.533      │
│ 2   │ 2020-03-02 │ 1.529      │
│ 3   │ 2020-02-28 │ 1.491      │

In [8]:
last(df2, 3)

3×2 DataFrame
│ Row │ Date       │ HO-Futures │
│     │ Date       │ Float64    │
├─────┼────────────┼────────────┤
│ 1   │ 2020-01-06 │ 2.034      │
│ 2   │ 2020-01-03 │ 2.061      │
│ 3   │ 2020-01-02 │ 2.024      │

In [9]:
## Now let's say we want all dates after 01/01/2019 and before 01/01/2020
df3 = df[(df.Date .> Date(2019, 1, 1)), :];

In [10]:
df3 = df3[df3.Date .< Date(2020,1,1), :];

In [11]:
first(df3, 5)

5×2 DataFrame
│ Row │ Date       │ HO-Futures │
│     │ Date       │ Float64    │
├─────┼────────────┼────────────┤
│ 1   │ 2019-12-31 │ 2.028      │
│ 2   │ 2019-12-30 │ 2.041      │
│ 3   │ 2019-12-27 │ 2.05       │
│ 4   │ 2019-12-26 │ 2.052      │
│ 5   │ 2019-12-24 │ 2.036      │

In [12]:
last(df3, 5)

5×2 DataFrame
│ Row │ Date       │ HO-Futures │
│     │ Date       │ Float64    │
├─────┼────────────┼────────────┤
│ 1   │ 2019-01-08 │ 1.827      │
│ 2   │ 2019-01-07 │ 1.778      │
│ 3   │ 2019-01-04 │ 1.769      │
│ 4   │ 2019-01-03 │ 1.742      │
│ 5   │ 2019-01-02 │ 1.701      │

In [13]:
## You can also sort this by date
sort!(df3, :Date);

In [14]:
first(df3, 2)

2×2 DataFrame
│ Row │ Date       │ HO-Futures │
│     │ Date       │ Float64    │
├─────┼────────────┼────────────┤
│ 1   │ 2019-01-02 │ 1.701      │
│ 2   │ 2019-01-03 │ 1.742      │

In [15]:
last(df3, 2)

2×2 DataFrame
│ Row │ Date       │ HO-Futures │
│     │ Date       │ Float64    │
├─────┼────────────┼────────────┤
│ 1   │ 2019-12-30 │ 2.041      │
│ 2   │ 2019-12-31 │ 2.028      │

In [16]:
## Another way to do it
df4 = df[(df.Date .>= Date(2019, 1, 1)) .& (df.Date .< Date(2020, 1, 1)), :];

In [19]:
sort!(df4, :Date);

In [20]:
first(df4, 3)

3×2 DataFrame
│ Row │ Date       │ HO-Futures │
│     │ Date       │ Float64    │
├─────┼────────────┼────────────┤
│ 1   │ 2019-01-02 │ 1.701      │
│ 2   │ 2019-01-03 │ 1.742      │
│ 3   │ 2019-01-04 │ 1.769      │

In [21]:
last(df4, 3)

3×2 DataFrame
│ Row │ Date       │ HO-Futures │
│     │ Date       │ Float64    │
├─────┼────────────┼────────────┤
│ 1   │ 2019-12-27 │ 2.05       │
│ 2   │ 2019-12-30 │ 2.041      │
│ 3   │ 2019-12-31 │ 2.028      │