# __Brough Lecture Notes: Estimating VAR Models with R__

<br>

Finance 5330: Financial Econometrics <br>
Tyler J. Brough <br>
Last Updated: April 23, 2019 <br>
<br>

In [2]:
options(warn=-1)

In [3]:
library(vars)

In [5]:
raw <- read.table("./data/lee-ready.csv", sep="|", header=T)
raw$SYMBOL <- as.character(raw$SYMBOL)
tickers <- unique(raw$SYMBOL)
ibm <- raw[raw$SYMBOL == "IBM", c("mid_point2", "buyer_init")]

In [6]:
head(ibm)

      mid_point2 buyer_init
15390 196.900    -1
15391 196.890    -1
15392 197.040    -1
15393 196.745     1
15394 197.395    -1
15395 196.965    -1

In [7]:
tail(ibm)

      mid_point2 buyer_init
22104 193.580     1
22105 193.585    -1
22106 193.605    -1
22107 193.510    -1
22108 193.565    -1
22109 193.570    -1

In [8]:
midRet <- diff(log(ibm$mid_point2))

In [9]:
n <- length(ibm$buyer_init)
trdSgn <- ibm$buyer_init[2:n]

In [10]:
df <- data.frame(X=trdSgn, R=midRet)

In [11]:
head(df)

  X  R
1 -1 -5.078849e-05
2 -1  7.615567e-04
3  1 -1.498280e-03
4 -1  3.298323e-03
5 -1 -2.180749e-03
6 -1 -5.077173e-05

In [12]:
tail(df)

     X  R
6714  1  7.749035e-05
6715 -1  2.582878e-05
6716 -1  1.033085e-04
6717 -1 -4.908102e-04
6718 -1  2.841827e-04
6719 -1  2.583078e-05

In [20]:
fit <- VAR(df, p=3, type="const")

In [21]:
summary(fit)

VAR Estimation Results:
=========================
Endogenous variables: X, R
Deterministic variables: const
Sample size: 6716
Log Likelihood: 12467.887
Roots of the characteristic polynomial:
0.6397 0.6397 0.6016 0.5214 0.3046 0.3046
Call:
VAR(y = df, p = 3, type = "const")


Estimation results for equation X:
==================================
X = X.l1 + R.l1 + X.l2 + R.l2 + X.l3 + R.l3 + const

       Estimate Std. Error t value Pr(>|t|)
X.l1   0.212894   0.012197  17.454  < 2e-16 ***
R.l1   1.310851   1.210319   1.083    0.279
X.l2   0.067837   0.012441   5.453 5.14e-08 ***
R.l2   1.944893   1.397705   1.391    0.164
X.l3   0.048484   0.012194   3.976 7.08e-05 ***
R.l3  -0.657241   1.210400  -0.543    0.587
const -0.007882   0.011811  -0.667    0.505
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1


Residual standard error: 0.9678 on 6709 degrees of freedom
Multiple R-Squared: 0.06364,	Adjusted R-squared: 0.0628
F-statistic:    76 on 6 and 6709 DF,  p-value: < 2.2e-16


Estimation results for equation R:
==================================
R = X.l1 + R.l1 + X.l2 + R.l2 + X.l3 + R.l3 + const

        Estimate Std. Error t value Pr(>|t|)
X.l1  -3.287e-05  1.193e-04  -0.276    0.783
R.l1  -7.488e-01  1.184e-02 -63.255   <2e-16 ***
X.l2  -2.045e-05  1.217e-04  -0.168    0.867
R.l2  -4.974e-01  1.367e-02 -36.389   <2e-16 ***
X.l3   3.403e-05  1.193e-04   0.285    0.775
R.l3  -2.462e-01  1.184e-02 -20.795   <2e-16 ***
const -6.526e-06  1.155e-04  -0.056    0.955
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1


Residual standard error: 0.009465 on 6709 degrees of freedom
Multiple R-Squared: 0.3737,	Adjusted R-squared: 0.3732
F-statistic: 667.2 on 6 and 6709 DF,  p-value: < 2.2e-16



Covariance matrix of residuals:
           X          R
X  0.9366517 -2.734e-04
R -0.0002734  8.959e-05

Correlation matrix of residuals:
         X        R
X  1.00000 -0.02985
R -0.02985  1.00000

In [22]:
args(irf)

function (x, impulse = NULL, response = NULL, n.ahead = 10, ortho = TRUE,
    cumulative = FALSE, boot = TRUE, ci = 0.95, runs = 100, seed = NULL,
    ...)
NULL