In [4]:
import numpy as np
import pandas as pd

inFile = "./data/ibm-sp500.csv"
raw = pd.read_csv(inFile, parse_dates=True, index_col=0)

In [5]:
raw.head()

               PRC    sprtrn
date
2008-01-02  104.69 -0.014438
2008-01-03  104.90  0.000000
2008-01-04  101.13 -0.024552
2008-01-07  100.05  0.003223
2008-01-08   97.59 -0.018352

In [6]:
raw.tail()

               PRC    sprtrn
date
2018-12-24  107.57 -0.027112
2018-12-26  111.39  0.049594
2018-12-27  113.78  0.008563
2018-12-28  113.03 -0.001242
2018-12-31  113.67  0.008492

In [7]:
begDate = '2017-01-01'
endDate = '2018-12-31'
sub = raw[begDate:endDate]

In [8]:
sub.head()

                  PRC    sprtrn
date
2017-01-03  167.19000  0.008487
2017-01-04  169.25999  0.005722
2017-01-05  168.70000 -0.000771
2017-01-06  169.53000  0.003517
2017-01-09  167.64999 -0.003549

In [9]:
sub.tail()

               PRC    sprtrn
date
2018-12-24  107.57 -0.027112
2018-12-26  111.39  0.049594
2018-12-27  113.78  0.008563
2018-12-28  113.03 -0.001242
2018-12-31  113.67  0.008492