# __Julia Basics: Arithmetic, Assignment, and Strings__

<br>

__Finance 5330: Financial Econometrics__ <br>
__Tyler J. Brough__ <br>
__Last Update: February 23, 2021__ <br>

<br>

## __Topics__

1. Infix arithmetic operations
2. Numeric literals
3. Comparisons
4. Assignments
5. Strings

<br>

## Arithmetic

In [1]:
3 + 7 # addition

10

In [2]:
10 - 3 # subtraction

7

In [3]:
20 * 5 # multiplicaton

100

In [7]:
100 / 10 # division

10.0

In [6]:
100 / 7

14.285714285714286

In [8]:
10 ^ 2 # exponentiation

100

In [9]:
101 % 2 # remainder (modulus)

1

In [10]:
sqrt(2) # square root

1.4142135623730951

In [11]:
√2 # unicode to the rescue: \sqrt + TAB

1.4142135623730951

In [12]:
√42

6.48074069840786

<br>

Note that dividing two integers yields a floating point number. There are two additional operators that may be helpful here:

<br>

In [13]:
10/6

1.6666666666666667

In [14]:
10 ÷ 6 # \div + TAB or the `div` function

1

In [15]:
div(10, 6)

1

In [16]:
10 // 6

5//3

## Numbers


Many different ways to write the number forty-two

In [17]:
fortytwos = (42, 42.0, 4.20e1, 84//2, 0x2a)

(42, 42.0, 42.0, 42//1, 0x2a)

In [18]:
for x in fortytwos
    show(x)
    println("\tisa $(typeof(x))")
end

42	isa Int64
42.0	isa Float64
42.0	isa Float64
42//1	isa Rational{Int64}
0x2a	isa UInt8

<br>

### Bitwise Arithmetic

In [21]:
0x2a & 0x70 # AND

0x20

In [22]:
0x2a | 0x70 # OR

0x7a

In [23]:
42 & 112

32

In [24]:
0b0010 << 2 # == 0b1000

0x08

<br>

### Logical Operators

In [25]:
false && true # AND

false

In [26]:
false || true # OR

true

In [27]:
# Note that they "short-circuit!"

x = -42
x > 0 || error("x must be positive")

LoadError: x must be positive

<br>

## Comparisons

In [28]:
1 == 1.0 == 1//1 # Equality

true

In [29]:
1 === 1.0 # Programmatically identical

false

In [30]:
3 < π

true

In [31]:
1 <= 1

true

In [32]:
.1 + .2

0.30000000000000004

In [33]:
.1 + .2 ≈ .3 # \approx + TAB

true

In [34]:
isapprox(.1 + .2, .3)

true

In [37]:
# Comparisons "chain"
#
# Try inserting parentheses around one of these comparisons

2 == 2.0 == 0x02
# (2 == 2.0) == 0x02
# 2 == (2.0 == 0x02)

true

In [38]:
x = 42
0 < x < 100 || error("x must be between 0 and 100")

true

<br>

#### Higher Precision

In [39]:
2^63

-9223372036854775808

In [40]:
big(2)^1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [41]:
big(pi)

3.141592653589793238462643383279502884197169399375105820974944592307816406286198

In [42]:
big"0.1"

0.1000000000000000000000000000000000000000000000000000000000000000000000000000002

In [43]:
big(0.1)

0.1000000000000000055511151231257827021181583404541015625

<br>

## Assignment

In [44]:
# Assignment in Julia is done with the single `=`. All it does
# is associates a name (on the left) to a value (on the right).

In [45]:
x = 1 # Use the name `x` for the value `1`
y = x

1

In [46]:
x = 2
y

1

In [47]:
x = [1]
x[1] = 2

2

In [48]:
y = x # Use the name `y` for the value that `x` refers to

1-element Array{Int64,1}:
 2

In [49]:
x = "hello!" # Decide you have a better use for the name `x`

"hello!"

In [50]:
y # Is still the value 1

1-element Array{Int64,1}:
 2

In [51]:
# "Simultaneous" multiple assignment

x, y = y, x  # swap x and y
x, y = y, x  # swap back

("hello!", [2])

In [52]:
x, y = f()

LoadError: UndefVarError: f not defined

In [53]:
ϵ = eps(1.0) # You can make your own unicode names

2.220446049250313e-16

In [54]:
x₀ = 1
χ² = 2

2

In [55]:
5ϵ # Juxtaposition is multiplication

1.1102230246251565e-15

In [56]:
# We make use of juxtaposition for complex numbers
2*im
(1 + 2im)^2

-3 + 4im

<br>

### Updating operators

All the infix arithmetic operators above can be used as "updating" operators in conjunction with an assignment:

In [57]:
y = 0
y += 1

1

In [58]:
y = y + 1

2

In [59]:
y += 1.5

3.5

In [60]:
## This is exactly the same as:
y = y + 1

4.5

Note that it's just re-purposing the _same name_ for a new value. This means that the type might even change:

In [62]:
y /= 2

1.125

<br>

## Strings

In [63]:
s1 = "I am a string."

"I am a string."

In [64]:
s2 = """I am also" a string. """

"I am also\" a string. "

In [65]:
"Here, we get an "error" because it's ambiguous where this string ends "

LoadError: syntax: cannot juxtapose string literal

In [66]:
"""Look, Mom, no "errors"!!! """

"Look, Mom, no \"errors\"!!! "

In [67]:
        println("""The other nice thing about triple-quoted
                   string literals is that they ignore leading
                   indentation, which is nice for long strings
                   in real code. Try changing these quotes!""")

The other nice thing about triple-quoted
string literals is that they ignore leading
indentation, which is nice for long strings
in real code. Try changing these quotes!

In [69]:
# Strings are not written with single `'`s — that's used for a single character:
'this is my string'

LoadError: syntax: character literal contains multiple characters

In [70]:
first(s1)

'I': ASCII/Unicode U+0049 (category Lu: Letter, uppercase)

In [71]:
'⊂'

'⊂': Unicode U+2282 (category Sm: Symbol, math)

In [72]:
'If you try writing a string in single-quotes, you will get an error'

LoadError: syntax: character literal contains multiple characters

### String Interpolation

You can use the dollar sign inside a string to evaluate a Julia expression inside a string — either a single variable or a more complicated expression:

In [74]:
name = "Jane"
num_fingers = 10
num_toes = 10
println("Hello, my name is $name.")
println("I have $num_fingers fingers and $num_toes toes.")

Hello, my name is Jane.
I have 10 fingers and 10 toes.

In [75]:
println("That is $(num_fingers + num_toes) digits in all!!")

That is 20 digits in all!!

In [77]:
println(1)
println(2)

1
2